html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*...........................................................................................................................................*/

body{background-color: rgb(54, 48, 48);
    height:750px;
    background-image: url("http://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg")
}
/*.wrapper{margin-left: 300px;
    width:900px;
    height:750px;
    background-color: rgb(241, 149, 10);
   background-image: url("http://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg")
}*/
h1{padding-top: 10px;
    text-align: center;
    color:white;
    font-size: 40px;
}
section{margin-top: 20px;
    margin-bottom: 40px;
    width:260px;
    height:200px;
    border-radius: 10px;
    background-color: #bb2d45;
    float:left;
    text-align: center;
    font-size: x-large;
}
.one{margin-left:350px;
    margin-right:20px;
}
.two{background: linear-gradient(to right, rgb(70, 68, 68),#bb2d45);
    margin-right:20px;
}
.three{background: radial-gradient(#bb2d45, rgb(70, 67, 67));
}
h4{
    margin-top: 90px;
}
.box4{clear: both;
    margin-left: 40px;
    width:820px;
    height: 380px;
    margin-left:350px;
    border-radius: 10px;
    background-color: orangered;
    background-image: url("http://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg")
}
p{text-align: center;
    font-size: x-large;
    padding-top: 170px;
}